@charset "UTF-8";
head, body {
  height: 100%;
  font-size: 10px;
}

.nav-item {
  font-size: 1rem;
}

.noir {
  background-color: black;
}

.blanc {
  color: white;
}

.m {
  margin: 20px;
  text-align: center;
}

.fa-chevron-down {
  color: white;
}

.fa-facebook {
  color: white;
  font-size: 50px;
}

.fa-instagram {
  color: white;
  font-size: 50px;
}

.fa-snapchat {
  color: white;
  font-size: 50px;
}

.fa-twitter {
  color: white;
  font-size: 50px;
}

.padding {
  padding: 21px;
}

.canadien {
  background-color: red;
}

.anatomie {
  background-color: crimson;
}

.bleu {
  background-color: #0c5460;
}

.hauteurBarre2 {
  margin-top: 70px;
}

@media only screen and (max-width: 480px) {
  .nav-item {
    font-size: 2rem;
  }

  .hauteur {
    padding-top: 40px;
  }

  .test {
    margin-bottom: 20px;
  }

  .test1 {
    margin-top: 20px;
  }

  .imageCanadien {
    height: 80px;
  }

  .imageCerveau {
    height: 80px;
  }

  .imageEspace {
    height: 80px;
  }

  .imageInformatique {
    height: 80px;
  }

  .hauteurBarre2 {
    margin-top: 100px;
  }

  .imageespace2 {
    margin-top: 10px;
  }

  .imageespace3 {
    margin-top: -10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1000px) {
  .nav-item {
    font-size: 2rem;
  }

  .hauteur {
    padding-top: 40px;
  }

  .test {
    margin-bottom: 20px;
  }

  .test1 {
    margin-top: 20px;
  }

  .imageCanadien {
    height: 80px;
  }

  .imageCerveau {
    height: 80px;
  }

  .imageEspace {
    height: 80px;
  }

  .imageInformatique {
    height: 80px;
  }

  .hauteurBarre {
    margin-top: 40px;
  }

  .hauteurBarre2 {
    margin-top: 100px;
  }

  .imageespace2 {
    margin-top: 50px;
  }

  .imageespace3 {
    margin-top: -10px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  li {
    font-size: 1rem;
  }

  .hauteur {
    padding-top: 40px;
  }

  .test {
    margin-bottom: 20px;
  }

  .test1 {
    margin-top: 20px;
  }

  .imageCanadien {
    height: 60px;
  }

  .imageCerveau {
    height: 60px;
  }

  .imageEspace {
    height: 60px;
  }

  .imageInformatique {
    height: 60px;
  }

  .hauteurBarre {
    margin-top: 20px;
  }

  .hauteurBarre2 {
    margin-top: 100px;
  }

  .imageespace2 {
    margin-top: 50px;
  }

  .imageespace3 {
    margin-top: -35px;
  }
}
.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.k {
  margin-top: 30px;
}

.video {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.video1 {
  margin-top: 50px;
  width: 100%;
  height: 700px;
}

.click {
  cursor: pointer;
}

.parallax {
  background-image: url("../img/iss.jpg");
  min-height: 480px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.parallax2 {
  background-image: url("../img/rover.jpg");
  min-height: 480px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.parallax3 {
  background-image: url("../img/voieLactée.jpg");
  min-height: 480px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.parallax4 {
  background-image: url("../img/supernova.jpg");
  min-height: 480px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.p {
  margin-top: -30px;
}

.carousel-inner {
  height: 750px;
}

.modalbg {
  background-image: url("../img/joueur/NickSuzuki5.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.rouge {
  color: red;
}

/*# sourceMappingURL=style.css.map */
