html{
    font-size: 10px;
}
.computerModding{
    text-align: center;
    color: white ;
    align-items: center;
    padding-top: 20.0rem;
}
.background{
    background-image: url("../img/computex-17-inwinbot-mod.jpg");
    height: 129.2rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 192.0rem;
}
hr{
    max-width: 5.0rem;
    border-width: 0.5rem;
    border-color: white;
}
h2{
 text-align: center;
 color: white;
}
button{
    background-color: red;
    border: none;
    border-radius: 1.0rem;
}
.red{
    color: white;
    background-color: red;
    padding-bottom: 5.0rem;
    padding-top: 5.0rem;
}
.buttondeux{
    background-color: white;
    border: none;
    border-radius: 1.0rem;
    font-size: 2.5rem;
}
.lienpournousrejoindre{
    text-align: center;
}
.ligne{
    max-width: 5.0rem;
    border-width: 0.5rem;
    border-color: red;
}
.fa-facebook{
    color: blue;
    font-size: 20.0rem;

}
.fa-twitter{
    color: blue;
    font-size: 20.0rem;
}
.fa-instagram{
    font-size: 20.0rem;
    color: magenta;
}
.fa-reddit{
    font-size: 20.0rem;
    color: red;
}
.img{
    width: 52.8rem;
    height: 40.0rem;

}
.img2{
    width: 52.8rem;
    height: 40rem;
}
p{
    font-size: 1.5rem;
}