.computerModding{
    text-align: center;
    color: white ;
    align-items: center;
    padding-top: 200px;
}
.background{
    background-image: url("../img/computex-17-inwinbot-mod.jpg");
    height: 1292px;
    background-repeat: no-repeat;
    background-position: center;
    width: 1920px;
}
hr{
    max-width: 50px;
    border-width: 5px;
    border-color: white;
}
h2{
 text-align: center;
 color: white;
}
